body {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.para {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  border: 1px solid black;
  margin-bottom: 5px;
}

.sync { display: inline-block;
        margin-top: 1ex;
     }

.chord { font-weight: bold;
         font-size: smaller;
         margin-right: 0.5em;
       }
